/* This file is for your main application css. */

@import "./phoenix.css";

.hidden {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s;
}

.delete {
    background: tomato;
    border-color: tomato;
}
