<div class="container">
    <div id="error"></div>
    <section id="new-list-section" class="row">
        <div class="column">
            <h1>Create A New List</h1>
            <label for="topic-input">List name</label>
            <input id="topic-input" name="" type="text" value="" placeholder ="My favorite heroes" />
            <button id="submit-topic">New List</button>
        </div>
        <hr/>
    </section>
    <section id="join-list-section" class="row">
        <div class="column">
            <h1>Join A List</h1>
            <table id="active-lists">
            </table>
        </div>
    </section>

    <section id="list-section" class="container hidden">
        <div class="row">
            <h1 id="list-title" class="column-25"></h1>
            <button id="save-button" class="float-right button-outline" style="margin-left: 3em;">Save List</button>
        </div>
        <div class="row">
            <div class="column">
                <label for="name-input">Hero name</label>
                <input id="name-input"  type="text" placeholder ="Captian Super Cool" />
                <label for="power-input">Super power</label>
                <input id="power-input" type="text" placeholder ="Being Super Cool" />
                <button id="submit-hero">Add hero</button>
            </div>
        </div>
    </section>
    <ul id="heroes-list"></ul>
</div>
